<header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><a style="color: black; text-decoration:none" href="https://lucas-uw.github.io/MDL-personal-site">Xiaodong Chen</a></span>
        <div class="mdl-layout-spacer"></div>

        <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
            <li><a href="https://wolfscie.wordpress.com" class="mdl-menu__item">My Blog</a></li>
            <li><a href="assets/docs/CV_ChenX.pdf" class="mdl-menu__item">CV (pdf)</a></li>
        </ul>
    </div>
</header>

<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="https://lucas-uw.github.io/DML-personal-site">Home</a>
    <a class="mdl-navigation__link" href="CV">Curriculum Vitae</a>
    <a class="mdl-navigation__link" href="Research">Research</a>
    <a class="mdl-navigation__link" href="Publications">Publications</a>
    <a class="mdl-navigation__link" href="Activities">Activities</a>
    <a class="mdl-navigation__link" href="https://wolfscie.wordpress.com">My Blog</a>
    <a class="mdl-navigation__link" href="assets/docs/CV_ChenX.pdf">CV (pdf)</a>
    </nav>
</div>